# Editor / IDE
.idea/

# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

